.introduction{
    background-color: #1E3A83;
    text-align: center;
    height: 400px;
    width: 100%;
    align-content: center;

    color: whitesmoke;
    font-size: 30px;
    font-family: "Sacramento", cursive; 
}

.heading{
    text-align: center;
}
.about-me{
    text-align: center;
}
.about-me img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.about-me p{
    text-align: justify;
}

.skills{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
}
.skills-1{
    font-size: 20px;
    background-color: bisque;
    border-radius: 20px;
    height: 100px;
    width: 200px;
}
.skills-2{
    font-size: 20px;
    background-color: rgb(226, 205, 178);
    border-radius: 20px;
    height: 100px;
    width: 200px;
}

.portfolio{
    display: flex;
    justify-content: space-evenly;
}
.portfolio img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.contact{
    text-align: center;
}
.contact-me{
    background-color: #1E3A83;
    color: whitesmoke;
    padding: 10px;
}

@media  (max-width: 560px){
    .skills{
        display: block;   
    }

    .skills-1, .skills-2{
        align-content: center;
        margin-bottom: 10px;
    }
    .portfolio{
        display: block;
        text-align: center;
    }
    
}